[Unit]
Description=Scheduler for Apache Mesos
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/marathon
EnvironmentFile=/etc/default/marathon
{% if MARATH_mesos_authentication_principal is defined %}
Environment=SEC_OPTIONS='--mesos_authentication'
{% else %}
Environment=SEC_OPTIONS='--disable_mesos_authentication'
{%endif%}
{% if MARATH_ha is defined %}
ExecStart=/usr/share/marathon/bin/marathon $SEC_OPTIONS
{% else %}
ExecStart=/usr/share/marathon/bin/marathon $SEC_OPTIONS --disable_ha
{% endif %}
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=60
SuccessExitStatus=
User=marathon
ExecStartPre=/bin/mkdir -p /run/marathon
ExecStartPre=/bin/chown marathon:marathon /run/marathon
ExecStartPre=/bin/chmod 755 /run/marathon
PermissionsStartOnly=true
LimitNOFILE=2048

[Install]
WantedBy=multi-user.target
