daemonize yes
port 26379
bind 0.0.0.0
{% if redismaster is defined %}
sentinel monitor redis-master {{redismaster}} 6379 2
{% endif %}
sentinel down-after-milliseconds redis-master 5000
sentinel parallel-syncs redis-master 2
#sentinel auth-pass redis-master 000000
#sentinel notification-script redis-master /etc/redis/notify.sh
#sentinel client-reconfig-script redis-master /etc/redis/failover.sh
logfile "/var/log/redis/redis-sentinel.log"
pidfile /tmp/redis-sentinel.pid
