[Unit]
Description=Redis In-Memory Data Store
After=network.target
 
[Service]
User=nobody
Group=nobody
Type=forking
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
ExecStop=/bin/kill -SIGTERM $MAINPID
Restart=on-failure
RestartSec=5 

[Install]
WantedBy=multi-user.target
