#!/bin/bash
#backup files which was changed within one day
suffix=$(date +"%Y-%m-%d").tar.sftp

if ! test -d /backup
   then
     mkdir /backup
fi

backplace=$(df -x tmpfs -P |sort -k4 -n|sed -n \$p|awk '{printf $NF}')

cd $backplace
for path in {{DIRS}}
do
  find $path -mtime -1 -type f|xargs tar -rf   ${path//\//}_$suffix
  tar -czf ${path//\//}_$suffix.gz ${path//\//}_$suffix
done
ncftpput   -u {{ftpuser}} -p {{ftppass}} {{ftphost}} /array1/sfbackup/{{ansible_host}} *.sftp.gz
if [[ $? == 0 ]]
 then
   rm -rf *.sftp.gz
   if test -f /backup/failure
      then
           rm -rf /backup/failure
    fi
 else
    touch /backup/failure
fi
